.wrapper {
    width: 90%;
    max-width: 400px;
    margin: auto;
    border: 1px solid gray;
    text-align: center;
    margin-top: 200px;
}

.wrapper h3{
    padding: 10px;
    color: #000;
}

.loading{
    font-size: 36px;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top: 100px;
}